.navbar{

  width: 100%;

  padding: 1rem 1.5rem;

  display: flex;

  justify-content: space-between;

  align-items: center;

  background: white;

  position: relative;

  z-index: 999;
}

/* =====================
LOGO
===================== */

.logo{

  font-size: 1.4rem;

  font-weight: bold;
}

/* =====================
MENU ICON
===================== */

.menu-icon{

  font-size: 2rem;

  cursor: pointer;

  display: block;
}

/* =====================
LINKS MOBILE
===================== */

.nav-links{

  position: absolute;

  top: 100%;

  left: 0;

  width: 100%;

  background: white;

  display: none;

  flex-direction: column;

  align-items: center;

  gap: 1.5rem;

  padding: 2rem 0;
}

/* ACTIVE */

.nav-links.active{

  display: flex;
}

.nav-links a{

  text-decoration: none;

  color: #111827;

  font-weight: 600;
}

/* =====================
CV BUTTON
===================== */

.cv-button{

  display: none;
}

/* =====================
DESKTOP
===================== */

@media (min-width: 768px){

  .menu-icon{

    display: none;
  }

  .navbar{

    padding: 1.2rem 4rem;
  }

  .nav-links{

    position: static;

    display: flex;

    flex-direction: row;

    width: auto;

    background: transparent;

    padding: 0;

    gap: 2rem;
  }

  .cv-button{

    display: inline-block;

    padding: 0.8rem 1.4rem;

    border-radius: 14px;

    background: #7c3aed;

    color: white;

    text-decoration: none;

    font-weight: bold;
  }

}