.navbar{

  position: fixed;

  top: 20px;

  left: 50%;

  transform: translateX(-50%);

  width: 92%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 1rem 2rem;

  background: rgba(255,255,255,0.75);

  backdrop-filter: blur(12px);

  border-radius: 22px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

  z-index: 1000;

  box-sizing: border-box;
}

.logo-container{

  display: flex;

  align-items: center;

  gap: 1rem;
}

.logo{

  width: 55px;

  height: 55px;

  border-radius: 16px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 1.7rem;

  font-weight: bold;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #2563eb
    );

  color: white;
}

.logo-text h2{

  margin: 0;

  font-size: 1.2rem;

  color: #111827;
}

.logo-text p{

  margin: 0;

  color: #6b7280;

  font-size: 0.85rem;
}

.nav-links{

  display: flex;

  gap: 2rem;
}

.nav-links a{

  text-decoration: none;

  color: #111827;

  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover{

  color: #2563eb;
}

.cv-button{

  border: none;

  padding: 0.9rem 1.5rem;

  border-radius: 14px;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #2563eb
    );

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.cv-button:hover{

  transform: translateY(-3px);

  box-shadow:
    0 10px 20px rgba(37,99,235,0.25);
}